@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@300&display=swap');


* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: Montserrat, sans-serif;
    color: #4f4f4d;
  }
  
  .header {
    background-color: #006D77;
    color: #ffffff;
    padding: 15px;
  }
  
  .menu-bar{
      padding-top: 30px;
      font-size: large;
  }
  
  .menu-bar a {
       color: white !important;
       text-decoration: none;
  }
  
  .bg-image-jumbo{
      background: url('../images/pexels-michael-morse-1582736.jpg') no-repeat center center;
  }
  
  .info{
      background-color: rgba(0,0,0, 0.5) !important;
      left:auto;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }

  #info-button {
    font-size: large;
    background-color: #006D77;
    color:#fff;
    border-radius: 8px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

  #info-button a {
    color: #fff;
    text-decoration: none;
}

  #info-button:hover {
      background-color: #fff;
      color:#006D77;
      padding: 10px;
      margin-left: 10px;
      margin-top: 50px;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#info-button a:hover {
  color: #006D77;
  text-decoration: none;
}

  #info {
    overflow:hidden;
    height: fit-content;
  }
  
  .aside {
    height:fit-content;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
  }

  #contact-button {  
    text-align: center;
    font-size: large;
    background-color: #006D77;
    color:#fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

  #contact-button a {
    color: #fff;
    text-decoration: none;
}

  #contact-button:hover {
      text-align: center;
      background-color: #fff;
      color:#006D77;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

  #contact-button a:hover {
    color: #006D77;
    text-decoration: none;
}

  .aside img {
    width: 100%;
}

  .bullets {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    background-color: #83C5BE;
    color:#fff;
    line-height: 25px;
    box-shadow: 5px 5px rgba(0,19,20,0.5);
    text-align: left;
}

  #video-section {
    text-align: -webkit-center;

  }

  #help h2{
      text-align: center;
      color: #006D77;
      margin: 50px;
}

  #help{
    margin: 0 auto;
    width: 80%;
    line-height: 30px;
    text-align: justify;
}

  #vid-head {
    background-color: #006D77;
    color: #fff;
    padding: 10px;
    text-align: center;
}

  .video-text {
    text-align: justify;
    line-height: 30px;
}

  #links-section h2 {
    text-align: center;
    color: #006D77;
    margin: 15px;
}

  .links-head {
    background-color: #006D77;
    color: #fff;
    padding: 10px;
    text-align: center;
}

  .links {
    height: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #006D77;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

  .links ul {
    color: #fff;
}

  .links a {
    text-align: left;
    color: #fff;
    text-decoration: none;
}

  .links a:hover {
    color: #E29578;
}

  #contact-section {
  background-color: #83C5BE;
}

  #contact-section p {
  color: #fff;
  text-align: center;
}

  #contact {
    border: 2px solid #000;
    background-color: #EDF6F9;
    border-radius: 3px;
    padding: 30px;
}

  input {
    width: 90%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 10px;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  #subject {
    width: 90%;
    height: 60px;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

  #submit {
    background-color: #006D77;
    color: #fff;
    font-weight: 700;
}

  #submit:hover {
    background-color: #fff;
    color: #006D77;
    font-weight: 700;
}

  
  .footer {
    background-color: #006D77;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

  .footer p {
    text-align: center;
    color: #fff;
}


  .social-media {
    text-align: center;
    margin: auto;
}

  .social-media > li {
    display:inline;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

  .social-media i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
}
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  

#static-image {
    background: url('../images/trees.jpg') no-repeat center center;
    background-attachment: fixed;
    height: 400px;
    overflow: hidden;
}