@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #4f4f4d;
}


/* header and logo style*/
h1, h2 {
    font-family: Mulish, sans-serif;
    text-transform: uppercase;
}

#logo {
    float:left;
    font-weight: 700;
    font-size: 280%;
    margin-left: 30px;
    color: #006D77;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #4f4f4d;
}

.active {
    border-bottom: 2px solid #4f4f4d;
}

#hero-outer {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-michael-morse-1582736.jpg') no-repeat center center;
    overflow: hidden;

    position: relative;
}

#cover-text {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-michael-morse-1582736.jpg') no-repeat center center;
}

#cover-text {
    font-size: 110%;
    font-family: Mulish, sans-serif;
    letter-spacing: 2px;

    width: 800px;
    height: 80px;

    padding: 20px;

    background-color: rgba(131, 197, 190, .7);

    bottom: 30px;
    left: 150px;
    position:absolute
}