@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #4f4f4d;
}


/* header and logo style*/
h1, h2 {
    font-family: Mulish, sans-serif;
    text-transform: uppercase;
}

#logo {
    float:left;
    font-weight: 700;
    font-size: 280%;
    margin-left: 150px;
    color: #006D77;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #4f4f4d;
}

.active {
    border-bottom: 2px solid #4f4f4d;
}

#hero-outer {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-michael-morse-1582736.jpg') no-repeat center center;
    overflow: hidden;

    position: relative;
}

#cover-text {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-michael-morse-1582736.jpg') no-repeat center center;
}

#hero-image-info {
    height: 600px;
    width: 100%;
    background: url('../images/hero_info.jpg') no-repeat center center;
}

#hero-outer-info {
    height: 600px;
    width: 100%;
    background: url('../images/hero_info.jpg') no-repeat center center;
    overflow: hidden;

    position: relative;
}

#hero-image-contact {
    height: 600px;
    width: 100%;
    background: url('../images/hero-contact.jpg') no-repeat center center;
}

#hero-outer-contact {
    height: 600px;
    width: 100%;
    background: url('../images/hero-contact.jpg') no-repeat center center;
    overflow: hidden;

    position: relative;
}

#cover-text {
    font-size: 110%;
    font-family: Mulish, sans-serif;
    letter-spacing: 2px;

    width: 300px;
    height: 500px;

    padding: 20px;

    background-color: rgba(131, 197, 190, .7);

    bottom: 30px;
    left: 150px;
    position:absolute
}

hr {
    border-bottom: 2px solid #fff;
}

#info-button {
    font-size: large;
    background-color: #006D77;
    color:#fff;
    border-radius: 8px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#info-button:hover {
    background-color: #fff;
    color:#006D77;
    padding: 10px;
    margin-left: 10px;
    margin-top: 200px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#info-section {
    height: 600px;
    margin: 20px;
}

#container {
    padding-top: 30px;
    height: 600px;
    margin: 0 auto;
}

#image-left {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 100%;
    margin-left: 30px;
    margin-bottom: 50px;
    background: url('../images/image_left.jpg') no-repeat center center;
}

#text-mid {
    margin: 0 auto;
    padding-top: 100px;
    width: 33%;
    height: 400px;
}

#image-right {
    padding-top: 30px;
    width: 33%;
    float: right;
    height: 100%;
    margin-right: 30px;
    background: url('../images/image-right.jpg') no-repeat center center;
}

#text-mid h2 {
    font-size: 110%;
    font-family: Monserrat, sans-serif;
    letter-spacing: 2px;
    margin: 0 auto;
    width: 75%;
}

#text-mid p {
    font-size: 110%;
    font-family: Mulish, sans-serif;
    letter-spacing: 2px;
    margin: 0 auto;
    text-align: justify;
    position: relative;
    width: 75%;
}

#contact-button {
    
    font-size: large;
    background-color: #006D77;
    color:#fff;
    border-radius: 8px;
    padding: 10px;
    margin-left: 40px;
    margin-top: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#contact-button:hover {
    background-color: #fff;
    color:#006D77;
    border-radius: 8px;
    padding: 10px;
    margin-left: 40px;
    margin-top: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#static-image {
    background: url('../images/trees.jpg') no-repeat center center;
    background-attachment: fixed;
    height: 400px;
}

#bottom-info-section {
    height: 700px;
}

#bottom-info-section h2 {
    text-align: center;
    font-family: Mulish, sans-serif;
    font-weight:700;
    letter-spacing: 2px;
    margin: 30px;
    color: #006D77;
}

.inner-container {
    width: 33%;
    height: 600px;
    float: left;
    margin: 0 auto;
}

#boy-running-img {
    background: url('../images/boy_running.jpg') no-repeat center center;
    width: 100%;
    height: 300px;
    float: left;
    position: relative;
}

.bullets {
    background-color: #83C5BE;
    color:#fff;
    line-height: 25px;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 280px;
    padding: 30px;
    box-shadow: 5px 5px rgba(0,19,20,0.5);
}

#girls-playing-img {
    background: url('../images/girls-playing.jpg') no-repeat center center;
    width: 100%;
    height: 300px;
    float: left;
    position: relative;
}

#boy-blowing-img {
    background: url('../images/boy_blowing.jpg') no-repeat center center;
    width: 100%;
    height: 300px;
    float: left;
    position: relative;
}

#footer {
    background-color: #006d77;
    height: 200px;
}

#footer p {
    text-align: center;
    color: #fff;
    padding-top: 30px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display:inline;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.social-media i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}

/* Resposive for larger to medium devices 1200px*/

/* Resposive for mobile devices 950px*/

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        font-size: 85%;
        margin-left: 30px;
        margin-bottom: 15px;
        line-height: 25px;
    }

    #logo {
        clear: left;
        float: left;
        line-height: 25px;
        margin: 30px;
    }

    #logo i {
        display: none;
    }

    #cover-text {
        clear: left;
        float: left;
        margin-bottom: 20px;
        line-height: 30px;
        letter-spacing: 2px;
    }

    #info-section {
        height: 1200px;
        margin: 0 auto;
        
    }

    #image-left {
        clear: left;
        float: left;
        width: 80%;
        height: 50%;
        padding: 10px;
        margin: 20px;
    }

    #image-right {
        clear: left;
        float: left;
        width: 80%;
        height: 50%;
        padding: 10px;
        margin: 20px;

    }

    #text-mid {
        clear: left;
        float: left;
        width: 80%;
        height: 60%;
        padding: 20px;
        margin: 20px;

    }

    #contact-button {
        margin: 150 0px;
    }

    #static-image {
        height: 300px;
        margin: 0 auto;
    }

    #bottom-info-section {
        height: 1200px;
        margin: 0 auto;
    }

    #bottom-info-section, h1 {
        clear: left;
        float: left;
        width: 80%;
    }

    #footer {
        clear: left;
        float: left;
        margin-left: 0px;
        height: 200px;
        width: 100%;
    }

}